# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env*.local
.env
environmentvariables.env

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/
